* {
  font-family: "Poppins", sans-serif;
}

.change-placeholder::placeholder {
  font-size: 10px !important;
}
.italic-option {
  font-style: italic;
}

.border-class {
  border: 1px solid #000; /* Change the color as needed */
  border-radius: 5px; /* Optional: to make the border corners rounded */
  padding: 7px;
}

.title {
  background-color: black;
  border-radius: 5px;
  color: white;
  text-align: left;
  padding: 10px;
}

.pagination .page-link {
  color: black;
}

.pagination .active .page-link {
  background-color: black;
  border-color: black;
}
